body {
  font-family: Roboto;
  @media screen and (max-width: 450px) {
    overflow-x: hidden;
  }
  display: flex;
  justify-content: center;
  margin: 0;
  a {
    text-decoration: none;
  }
  background-color: white;
}

.site {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  align-items: center;
  justify-content: space-between;
  &__content {
    margin: 5% 0;
    max-width: 1040px;
  }
  &__landing {
    margin: 5% 0;
    max-width: 800px;
  }
  &__section {
    padding-top: 100px;
  }
  &__footer {
    padding-top: 10vh;
    align-self: flex-start;
  }
  &__404 {
    width: 100vw;
  }
}
.introduction {
  align-items: center;
}
.projects {
  &__collapse-header {
    cursor: pointer;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    margin-top: 1vh;
  }
  &__section {
    text-align: center;
  }
  &__image {
    box-shadow: 0px 2px 10px #818181;
    margin: 2%;
    border-radius: 15px;
  }
}
.test {
  margin: 0 10px;
}
.fallout {
  font-family: Overseer;
  font-size: 5em;
}