.site {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  align-items: center;
  justify-content: space-between;
  &__content {
    margin: 5% 0;
    max-width: 1040px;
  }
  &__section {
    padding-top: 100px;
  }
  &__footer {
    padding-top: 10vh;
    align-self: flex-start;
  }
}
